.App {
    text-align: center;
    /* brand color */
    color:rgb(184,32,32);
    color:rgb(220, 48, 48);
    /* font color */
    /* main 'darkest grey' */
    color:rgb(17,37,62);
    /* secondary 'dark grey' */
    color:rgb(97,118,145);
    /* font-border 'grey' */
    /* color:rgb(212,221,233); */
}
